USE [master]
GO
/****** Object:  Database [IndividiualProject_PartB_DanieelBogdan]    Script Date: 12/19/2019 2:54:02 PM ******/
CREATE DATABASE [IndividiualProject_PartB_DanieelBogdan]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'IndividiualProject_PartB_DanieelBogdan', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\IndividiualProject_PartB_DanieelBogdan.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'IndividiualProject_PartB_DanieelBogdan_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\IndividiualProject_PartB_DanieelBogdan_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [IndividiualProject_PartB_DanieelBogdan].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [IndividiualProject_PartB_DanieelBogdan]
GO
/****** Object:  Table [dbo].[Assignment]    Script Date: 12/19/2019 2:54:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Assignment](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[A_Title] [nvarchar](100) NOT NULL,
	[A_Description] [nvarchar](100) NOT NULL,
	[A_SubDate] [date] NOT NULL,
 CONSTRAINT [PK_Assignment] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AssignmentPerCourse]    Script Date: 12/19/2019 2:54:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AssignmentPerCourse](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AssignmentID] [int] NOT NULL,
	[CourseID] [int] NOT NULL,
 CONSTRAINT [PK_Assignment per Course] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AssignmentPerStudent]    Script Date: 12/19/2019 2:54:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AssignmentPerStudent](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[StudentID] [int] NULL,
	[AssignmentID] [int] NULL,
	[OralMark] [int] NULL,
	[TotalMark] [int] NULL,
 CONSTRAINT [PK_Assignment per Student] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Course]    Script Date: 12/19/2019 2:54:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Course](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[C_Stream] [nvarchar](100) NOT NULL,
	[C_Type] [nvarchar](100) NOT NULL,
	[C_StartDate] [date] NOT NULL,
	[C_EndDate] [date] NOT NULL,
	[C_Title] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Course] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 12/19/2019 2:54:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[S_FirstName] [nvarchar](100) NOT NULL,
	[S_LastName] [nvarchar](100) NOT NULL,
	[S_DateOfBirth] [date] NOT NULL,
	[S_Fees] [int] NOT NULL,
 CONSTRAINT [PK_Student] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentPerCourse]    Script Date: 12/19/2019 2:54:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentPerCourse](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[StudentID] [int] NULL,
	[CourseID] [int] NULL,
 CONSTRAINT [PK_Student Per Course] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Trainer]    Script Date: 12/19/2019 2:54:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Trainer](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[T_FirstName] [nvarchar](100) NOT NULL,
	[T_LastName] [nvarchar](100) NOT NULL,
	[T_Subject] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Trainer] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrainerPerCourse]    Script Date: 12/19/2019 2:54:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrainerPerCourse](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TrainerID] [int] NULL,
	[CourseID] [int] NULL,
 CONSTRAINT [PK_Trainer Per Course] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_AssignmentPerCourse]    Script Date: 12/19/2019 2:54:03 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_AssignmentPerCourse] ON [dbo].[AssignmentPerCourse]
(
	[AssignmentID] ASC,
	[CourseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_AssignmentPerStudent]    Script Date: 12/19/2019 2:54:03 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_AssignmentPerStudent] ON [dbo].[AssignmentPerStudent]
(
	[StudentID] ASC,
	[AssignmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_StudentPerCourse]    Script Date: 12/19/2019 2:54:03 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_StudentPerCourse] ON [dbo].[StudentPerCourse]
(
	[CourseID] ASC,
	[StudentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AssignmentPerCourse]  WITH CHECK ADD  CONSTRAINT [Assignment per Course - CourseFK] FOREIGN KEY([CourseID])
REFERENCES [dbo].[Course] ([ID])
GO
ALTER TABLE [dbo].[AssignmentPerCourse] CHECK CONSTRAINT [Assignment per Course - CourseFK]
GO
ALTER TABLE [dbo].[AssignmentPerCourse]  WITH CHECK ADD  CONSTRAINT [AssignmentPerCourse - AssignmentFK] FOREIGN KEY([AssignmentID])
REFERENCES [dbo].[Assignment] ([ID])
GO
ALTER TABLE [dbo].[AssignmentPerCourse] CHECK CONSTRAINT [AssignmentPerCourse - AssignmentFK]
GO
ALTER TABLE [dbo].[AssignmentPerStudent]  WITH CHECK ADD  CONSTRAINT [Assignment per Student - AssignmentFK] FOREIGN KEY([AssignmentID])
REFERENCES [dbo].[Assignment] ([ID])
GO
ALTER TABLE [dbo].[AssignmentPerStudent] CHECK CONSTRAINT [Assignment per Student - AssignmentFK]
GO
ALTER TABLE [dbo].[AssignmentPerStudent]  WITH CHECK ADD  CONSTRAINT [Assignment per Student - StudentFK] FOREIGN KEY([StudentID])
REFERENCES [dbo].[Student] ([ID])
GO
ALTER TABLE [dbo].[AssignmentPerStudent] CHECK CONSTRAINT [Assignment per Student - StudentFK]
GO
ALTER TABLE [dbo].[StudentPerCourse]  WITH CHECK ADD  CONSTRAINT [Student Per Course - CourseFK] FOREIGN KEY([CourseID])
REFERENCES [dbo].[Course] ([ID])
GO
ALTER TABLE [dbo].[StudentPerCourse] CHECK CONSTRAINT [Student Per Course - CourseFK]
GO
ALTER TABLE [dbo].[StudentPerCourse]  WITH CHECK ADD  CONSTRAINT [Student Per Course - StudentFK] FOREIGN KEY([StudentID])
REFERENCES [dbo].[Student] ([ID])
GO
ALTER TABLE [dbo].[StudentPerCourse] CHECK CONSTRAINT [Student Per Course - StudentFK]
GO
ALTER TABLE [dbo].[TrainerPerCourse]  WITH CHECK ADD  CONSTRAINT [Trainer Per Course - CourseID] FOREIGN KEY([CourseID])
REFERENCES [dbo].[Course] ([ID])
GO
ALTER TABLE [dbo].[TrainerPerCourse] CHECK CONSTRAINT [Trainer Per Course - CourseID]
GO
ALTER TABLE [dbo].[TrainerPerCourse]  WITH CHECK ADD  CONSTRAINT [Trainer Per Course - TrainerFK] FOREIGN KEY([TrainerID])
REFERENCES [dbo].[Trainer] ([ID])
GO
ALTER TABLE [dbo].[TrainerPerCourse] CHECK CONSTRAINT [Trainer Per Course - TrainerFK]
GO
USE [master]
GO
